<!DOCTYPE html>
<html lang="vi">
<head>
    <meta chaset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStore</title>
    <link rel="stylesheet" href="../static/css/style.css">

<body>
    <header>
        <dir class="logo">
            BookStore
        </dir>
        <div class="search">
            <input type="text" placeholder="Tìm kiếm sản phẩm...">
            <button></button>
        </div>
        <nav>
            <a href="index.html">Trang chủ</a>
            <a href="books.html">Sách</a>
            <a href="cart.html">Giỏ hàng</a>
            <a href="login.html">Đăng nhập</a>
        </nav>
    </header>
    

</body>
</html>
